li {
    background-color: #FAFAFA;
    box-shadow: 0px 5px 50px 0px #20232926;
    border-radius: 2px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    justify-content: space-between;
    align-items: center;
    padding: 26px 12px;
}

span {
    text-align: center;
}

p.complete--active {
    text-decoration: line-through;
    color: #939393;
}

span.delete {
    margin-top: -100px;
}

p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    text-box-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;

}