input {
    display: block;
    width: 279px;
    margin: 0 auto;
    height: 64px;
    border: 2px solid #1E1E1F;
    border-radius: 2px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    text-box-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}